body{
    margin: 0; 
    padding: 0;
    background-color: azure;
}

.divPrincipal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    border: 1px solid black;
    background-color:antiquewhite;
    width: 40%;
    height: 93vh;
    box-sizing: border-box;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divInput{
    box-sizing: border-box;
    width: 95%;
    height: 13%;
    margin-bottom: 2%;
}

.borrar{
    box-sizing: border-box;
    width: 100%;
    height: 13%;
    margin-bottom: 2%;
}

.borrar button{
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-weight: 60;
}

.divInput input{
    text-align: right;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 60;
}

.grid{
    background-color: aquamarine;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.grid button{
    width: 25%;
    height: 25%;
    font-size: 20px;
    font-weight: 60;
}